# Gradle
.gradle/
**/build/
**/.externalNativeBuild/
**/.cxx/
**/captures/

# Android Studio
.idea/
*.iml

# Local configuration
local.properties

# OS 
.DS_Store

# APK / bundles
*.apk
*.ap_
*.aab


